a {
    border: 0;
}

p {
  text-align: justify;
  margin: 5px;
}

body {
    margin: 0;
}

header {
    position: sticky;
    width: 100%;
    background-color: #333;
    color: white;
    z-index: 9999;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 10px;
    display: flex;
    justify-content: center;
}

header img {
    width: 60%;
    margin: 10px;
}

header nav ul {
    list-style-type: none;
    float: right;
    display: flex;
    align-items: space-around;
}

header nav ul li {
    float: left;
    margin: 10px;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

img {
    float: left;
    width: 25%;
}

img.homepage {
    margin: 10px;
}

.box {
    display: flex;
    flex-direction: column;
}

.box > div {
    display: flex;
    justify-content: space-between; /* This provides space around items */
    align-items: center; /* This aligns items vertically in the center */
    margin: 10px;
}

.box > div:nth-child(even) {
    flex-direction: row-reverse;
}

.box > div > div > h2 {
    flex-grow: 1;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

post-container * {
  margin: 0;
}

.post-preview {
  position: relative;
  align-items: center;
  justify-content: center;
}

.post-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-preview a {
  display: block;
  text-align: center;
}

.post-preview h2 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
}

.post-abstract {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  /* If you need a background color for better readability */
  background-color: rgba(0, 0, 0, 0.6);
}