body {
    margin: 0;
}

header,
footer {
    background-color: blue;
    padding: 10px 5px;
}

header {
    border-bottom: lightcoral 2px solid;
}

footer {
    border-top: lightcoral 2px solid;
}

header h1 {
    margin-top: 0;
}

header p {
    margin-bottom: 0;
}

.container {
    margin: 0;
    justify-content: center;
    align-content: center;
    display: flex;
}

.grid {
    display: grid;
    aspect-ratio: 1/1;
    width: 100%;
    justify-content: center;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.item {
    border: solid blue 1px;
}

.a {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

.b {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.c {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
}

.d {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
}

.e {
    grid-area: 2 / 2 / span 1 / span 1;
}